.main {

    &__input {
        outline: none;
        font-size: 20px;
        border: 1px solid transparent;
        width: 410px;
        height: 50px;

        &::placeholder {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__btn {
        cursor: pointer;
        font-size: 15px;
        font-weight: 900;
        color: cornflowerblue;
        border: 1px solid transparent;
        outline: none;
        background-color: transparent;
    }

}